.cover__link{
    background-image: url(../../../images/__background11.png);
    text-decoration: none;
    max-width: 1184px;
    min-height: 740px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#FFFFFF; 
    background-position: center;
    position: relative;
    object-fit: cover;
}

.cover__link::before {
    width: 100%;
    height: 100%;
    content: "";
    background-color:  #2A2C2F;
    opacity: 0.3;
    position: absolute;
}

.cover__link:hover::before{
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover__link {
       max-width: 1024px;
       min-height: 640px;

    }
 }


 @media screen and (max-width: 768px) {
    .cover__link {
       max-width: 768px;
       min-height: 480px;



    }
 }

 
 @media screen and (max-width: 320px) {
    .cover__link {
       max-width: 320px;
       width: 100%;
       min-height: 200px;

    }
 }
