.footer__link{
    color:  white;
    text-decoration:none;

}


@media screen and (max-width: 768px) {
    .footer__links {
        margin-bottom: 48px;
        flex-direction: column;
        
    }
 }