.lead__title{
    max-width: 720px;
    min-height: 200px;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .lead__title{
     font-size: 13vw;
    }
 }

